body {
	margin: 10px;
	background-color: #c2c2c2;
}

.container {
	min-width: 600px;
	max-width: 940px;
	margin: 10px auto;
}

header {
	width: 80%;
	height: 100px;
	border: solid 1px black;
	margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    overflow: hidden;
}

#phrase {
	margin: 10px;
	text-align: center;
	font-family: Tahoma, Arial !important;
	font-size: 40px;
	color: #909090;
	text-shadow: #cad5e2 1px 0px 0, black 2px 2px 0;
}

#subphrase {
	margin: 0;
	text-align: center;
	font-family: Tahoma, Arial !important;
	font-size: 15px;
	color: black;
}

#menu {
	min-width: 150px;
	max-width: 150px;
	height: 200px;
	border: solid 1px black;
	margin-left: auto;
    /* margin-right: 10px; */
    overflow: hidden;
    float: left;
}

h3 {
	margin: 5px auto;
}

#menu ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

nav {
	text-align: center;
}

h1 {
	text-align: center;
	font-family: Tahoma, Arial !important;
}

a {
	text-decoration: none;
	color: black;
}

#short_info {
	max-width: 200px;
	border: solid 1px black;
	float: right;
	text-align: center;
}

#short_info img {
	max-width: 90%;
	padding: 0 5%;
}

#main_info {
	margin-left: 10px;
    margin-right: 10px;
    float: left;
    max-width: 566px;
    text-align: center;
}

#main_info p {
	min-width: 50px;
	border: solid 1px black;
	text-align:  justify;
	margin-top: 0;
	padding: 10px;
}


